SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front false
SSM::set Doors_Motion_Monitoring/door_open_left false
SSM::set Doors_Motion_Monitoring/door_open_right false
SSM::set Doors_Motion_Monitoring/open_EV false
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 4
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front false
SSM::set Doors_Motion_Monitoring/door_open_left false
SSM::set Doors_Motion_Monitoring/door_open_right false
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 5
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front true
SSM::set Doors_Motion_Monitoring/door_open_left true
SSM::set Doors_Motion_Monitoring/door_open_right true
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 3
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front true
SSM::set Doors_Motion_Monitoring/door_open_left true
SSM::set Doors_Motion_Monitoring/door_open_right true
SSM::set Doors_Motion_Monitoring/open_EV false
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 2
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front true
SSM::set Doors_Motion_Monitoring/door_open_left true
SSM::set Doors_Motion_Monitoring/door_open_right true
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 1
SSM::set Doors_Motion_Monitoring/door_closed_front true
SSM::set Doors_Motion_Monitoring/door_closed_left true
SSM::set Doors_Motion_Monitoring/door_closed_right true
SSM::set Doors_Motion_Monitoring/door_open_front false
SSM::set Doors_Motion_Monitoring/door_open_left false
SSM::set Doors_Motion_Monitoring/door_open_right false
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 9
SSM::set Doors_Motion_Monitoring/door_closed_front true
SSM::set Doors_Motion_Monitoring/door_closed_left true
SSM::set Doors_Motion_Monitoring/door_closed_right true
SSM::set Doors_Motion_Monitoring/door_open_front false
SSM::set Doors_Motion_Monitoring/door_open_left false
SSM::set Doors_Motion_Monitoring/door_open_right false
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV true
SSM::cycle 6
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front true
SSM::set Doors_Motion_Monitoring/door_open_left true
SSM::set Doors_Motion_Monitoring/door_open_right true
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV false
SSM::cycle 3
SSM::set Doors_Motion_Monitoring/door_closed_front false
SSM::set Doors_Motion_Monitoring/door_closed_left false
SSM::set Doors_Motion_Monitoring/door_closed_right false
SSM::set Doors_Motion_Monitoring/door_open_front true
SSM::set Doors_Motion_Monitoring/door_open_left true
SSM::set Doors_Motion_Monitoring/door_open_right true
SSM::set Doors_Motion_Monitoring/open_EV true
SSM::set Doors_Motion_Monitoring/close_EV true
SSM::cycle 12
