SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left false
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV false
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 2
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV false
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 2
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front true
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 4
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 2
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front true
SSM::set Gears_Motion_Monitoring/gear_retraction_left true
SSM::set Gears_Motion_Monitoring/gear_retraction_right true
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 7
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front true
SSM::set Gears_Motion_Monitoring/gear_retraction_left true
SSM::set Gears_Motion_Monitoring/gear_retraction_right true
SSM::set Gears_Motion_Monitoring/retraction_EV false
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front true
SSM::set Gears_Motion_Monitoring/gear_retraction_left true
SSM::set Gears_Motion_Monitoring/gear_retraction_right true
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 13
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left true
SSM::set Gears_Motion_Monitoring/gear_retraction_right true
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right true
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 4
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV false
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 12
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left false
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front true
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 3
SSM::set Gears_Motion_Monitoring/gear_extension_front true
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right true
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 6
SSM::set Gears_Motion_Monitoring/gear_extension_front true
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right true
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 1
SSM::set Gears_Motion_Monitoring/gear_extension_front true
SSM::set Gears_Motion_Monitoring/gear_extension_left true
SSM::set Gears_Motion_Monitoring/gear_extension_right true
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 8
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left false
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV false
SSM::cycle 6
SSM::set Gears_Motion_Monitoring/gear_extension_front false
SSM::set Gears_Motion_Monitoring/gear_extension_left false
SSM::set Gears_Motion_Monitoring/gear_extension_right false
SSM::set Gears_Motion_Monitoring/gear_retraction_front false
SSM::set Gears_Motion_Monitoring/gear_retraction_left false
SSM::set Gears_Motion_Monitoring/gear_retraction_right false
SSM::set Gears_Motion_Monitoring/retraction_EV true
SSM::set Gears_Motion_Monitoring/extension_EV true
SSM::cycle 22
