SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 12
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 10
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 1
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 2
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 5
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 2
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 6
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 6
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 6
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 1
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 2
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 2
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 4
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 2
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 1
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 6
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 1
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 5
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 4
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 16
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front true
SSM::set Computing_Model/gear_Extended_right true
SSM::set Computing_Model/gear_Extended_left true
SSM::set Computing_Model/gear_Retracted_front false
SSM::set Computing_Model/gear_Retracted_right false
SSM::set Computing_Model/gear_Retracted_left false
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 1
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 2
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 2
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 5
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 2
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front false
SSM::set Computing_Model/gear_Shock_Absorber_right false
SSM::set Computing_Model/gear_Shock_Absorber_left false
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 6
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 5
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 2
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 3
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front false
SSM::set Computing_Model/door_Closed_right false
SSM::set Computing_Model/door_Closed_left false
SSM::set Computing_Model/door_Open_front true
SSM::set Computing_Model/door_Open_right true
SSM::set Computing_Model/door_Open_left true
SSM::cycle 4
SSM::set Computing_Model/handle true
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 15
SSM::set Computing_Model/handle false
SSM::set Computing_Model/gear_Extended_front false
SSM::set Computing_Model/gear_Extended_right false
SSM::set Computing_Model/gear_Extended_left false
SSM::set Computing_Model/gear_Retracted_front true
SSM::set Computing_Model/gear_Retracted_right true
SSM::set Computing_Model/gear_Retracted_left true
SSM::set Computing_Model/gear_Shock_Absorber_front true
SSM::set Computing_Model/gear_Shock_Absorber_right true
SSM::set Computing_Model/gear_Shock_Absorber_left true
SSM::set Computing_Model/door_Closed_front true
SSM::set Computing_Model/door_Closed_right true
SSM::set Computing_Model/door_Closed_left true
SSM::set Computing_Model/door_Open_front false
SSM::set Computing_Model/door_Open_right false
SSM::set Computing_Model/door_Open_left false
SSM::cycle 5
