SSM::set Sensor_Validity/sensor1 false
SSM::set Sensor_Validity/sensor2 false
SSM::set Sensor_Validity/sensor3 false
SSM::cycle 48
SSM::set Sensor_Validity/sensor1 true
SSM::set Sensor_Validity/sensor2 false
SSM::set Sensor_Validity/sensor3 false
SSM::cycle 10
SSM::set Sensor_Validity/sensor1 true
SSM::set Sensor_Validity/sensor2 true
SSM::set Sensor_Validity/sensor3 false
SSM::cycle 32
