SSM::set Sensor_Validity/sensor1 false
SSM::set Sensor_Validity/sensor2 false
SSM::set Sensor_Validity/sensor3 false
SSM::cycle 14
SSM::set Sensor_Validity/sensor1 false
SSM::set Sensor_Validity/sensor2 true
SSM::set Sensor_Validity/sensor3 false
SSM::cycle 17
SSM::set Sensor_Validity/sensor1 false
SSM::set Sensor_Validity/sensor2 true
SSM::set Sensor_Validity/sensor3 true
SSM::cycle 19
